/* ===== Import Google Fonts - KoHo ===== */
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* ===== Variables ===== */
:root {
  /* Colors */
  --dark-black: #181721;
  --purple-grey: #444160;
  --white: #fff;
  /* Type Colors */
  --fire-color-1: #ff4500;
  --fire-color-2: #ffb194;
  --fire-gradient: linear-gradient(
    var(--fire-color-1),
    var(--fire-color-2),
    var(--fire-color-1)
  );
  --water-color-1: #0085ff;
  --water-color-2: #82c3ff;
  --water-gradient: linear-gradient(
    var(--water-color-1),
    var(--water-color-2),
    var(--water-color-1)
  );
  --grass-color-1: #38fc38;
  --grass-color-2: #b5ffb5;
  --grass-gradient: linear-gradient(
    var(--grass-color-1),
    var(--grass-color-2),
    var(--grass-color-1)
  );
  --electric-color-1: #ffff00;
  --electric-color-2: #ffffbd;
  --electric-gradient: linear-gradient(
    var(--electric-color-1),
    var(--electric-color-2),
    var(--electric-color-1)
  );
  --ice-color-1: #00ffff;
  --ice-color-2: #b4ffff;
  --ice-gradient: linear-gradient(
    var(--ice-color-1),
    var(--ice-color-2),
    var(--ice-color-1)
  );
  --fighting-color-1: #e72323;
  --fighting-color-2: #ff8080;
  --fighting-gradient: linear-gradient(
    var(--fighting-color-1),
    var(--fighting-color-2),
    var(--fighting-color-1)
  );
  --poison-color-1: #8f00ff;
  --poison-color-2: #c67eff;
  --poison-gradient: linear-gradient(
    var(--poison-color-1),
    var(--poison-color-2),
    var(--poison-color-1)
  );
  --ground-color-1: #daa520;
  --ground-color-2: #ffdb82;
  --ground-gradient: linear-gradient(
    var(--ground-color-1),
    var(--ground-color-2),
    var(--ground-color-1)
  );
  --flying-color-1: #4d9ca1;
  --flying-color-2: #a4eaee;
  --flying-gradient: linear-gradient(
    var(--flying-color-1),
    var(--flying-color-2),
    var(--flying-color-1)
  );
  --psychic-color-1: #ff0080;
  --psychic-color-2: #ff81c0;
  --psychic-gradient: linear-gradient(
    var(--psychic-color-1),
    var(--psychic-color-2),
    var(--psychic-color-1)
  );
  --bug-color-1: #008800;
  --bug-color-2: #68d468;
  --bug-gradient: linear-gradient(
    var(--bug-color-1),
    var(--bug-color-2),
    var(--bug-color-1)
  );
  --rock-color-1: #5f270f;
  --rock-color-2: #b97659;
  --rock-gradient: linear-gradient(
    var(--rock-color-1),
    var(--rock-color-2),
    var(--rock-color-1)
  );
  --ghost-color-1: #593e85;
  --ghost-color-2: #9e7fd0;
  --ghost-gradient: linear-gradient(
    var(--ghost-color-1),
    var(--ghost-color-2),
    var(--ghost-color-1)
  );
  --dragon-color-1: #00b288;
  --dragon-color-2: #59ffd8;
  --dragon-gradient: linear-gradient(
    var(--dragon-color-1),
    var(--dragon-color-2),
    var(--dragon-color-1)
  );
  --dark-color-1: #2f4f4f;
  --dark-color-2: #6fa8a8;
  --dark-gradient: linear-gradient(
    var(--dark-color-1),
    var(--dark-color-2),
    var(--dark-color-1)
  );
  --steel-color-1: #c0c0c0;
  --steel-color-2: #fff;
  --steel-gradient: linear-gradient(
    var(--steel-color-1),
    var(--steel-color-2),
    var(--steel-color-1)
  );
  --fairy-color-1: #ff79f2;
  --fairy-color-2: #ffcffa;
  --fairy-gradient: linear-gradient(
    var(--fairy-color-1),
    var(--fairy-color-2),
    var(--fairy-color-1)
  );
  --normal-color-1: #a9a96e;
  --normal-color-2: #ffff9e;
  --normal-gradient: linear-gradient(
    var(--normal-color-1),
    var(--normal-color-2),
    var(--normal-color-1)
  );
  /* Typography */
  --ff: "KoHo", sans-serif;
  --fs-sm: clamp(0.8rem, 0.22vw + 0.76rem, 0.94rem);
  --fs-base: clamp(1rem, 0.4vw + 0.92rem, 1.25rem);
  --fs-md: clamp(1.25rem, 0.67vw + 1.12rem, 1.67rem);
  --fs-lg: clamp(1.56rem, 1.05vw + 1.35rem, 2.22rem);
  --fs-xl: clamp(1.95rem, 1.61vw + 1.63rem, 2.96rem);
  --fs-xxl: clamp(2.44rem, 2.41vw + 1.96rem, 3.95rem);
  --fs-xxxl: clamp(3.05rem, 3.53vw + 2.34rem, 5.26rem);
  --fw-l: 300;
  --fw-r: 400;
  --fw-sb: 600;
  --fw-b: 700;
}

/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  font-family: var(--ff);
  color: var(--white);
  background: var(--dark-black);
}

/* ===== Type ===== */
.fire {
  background-color: var(--fire-color-1);
  color: var(--dark-black);
}
.fire.active {
  background-color: var(--dark-black);
  color: var(--fire-color-1);
  path {
    fill: var(--fire-color-1);
  }
}
.fire-bg {
  background-color: var(--fire-color-1);
}
.fire-c {
  color: var(--fire-color-1);
}
.fire-b {
  border: 1px solid var(--fire-color-1);
}
.fire-svg {
  fill: var(--fire-color-1);
}
.water {
  background-color: var(--water-color-1);
  color: var(--dark-black);
}
.water.active {
  background-color: var(--dark-black);
  color: var(--water-color-1);
  path {
    fill: var(--water-color-1);
  }
}
.water-bg {
  background-color: var(--water-color-1);
}
.water-c {
  color: var(--water-color-1);
}
.water-b {
  border: 1px solid var(--water-color-1);
}
.water-svg {
  fill: var(--water-color-1);
}
.grass {
  background-color: var(--grass-color-1);
  color: var(--dark-black);
}
.grass.active {
  background-color: var(--dark-black);
  color: var(--grass-color-1);
  path {
    fill: var(--grass-color-1);
  }
}
.grass-bg {
  background-color: var(--grass-color-1);
}
.grass-c {
  color: var(--grass-color-1);
}
.grass-b {
  border: 1px solid var(--grass-color-1);
}
.grass-svg {
  fill: var(--grass-color-1);
}
.electric {
  background-color: var(--electric-color-1);
  color: var(--dark-black);
}
.electric.active {
  background-color: var(--dark-black);
  color: var(--electric-color-1);
  path {
    fill: var(--electric-color-1);
  }
}
.electric-bg {
  background-color: var(--electric-color-1);
}
.electric-c {
  color: var(--electric-color-1);
}
.electric-b {
  border: 1px solid var(--electric-color-1);
}
.electric-svg {
  fill: var(--electric-color-1);
}
.ice {
  background-color: var(--ice-color-1);
  color: var(--dark-black);
}
.ice.active {
  background-color: var(--dark-black);
  color: var(--ice-color-1);
  path {
    fill: var(--ice-color-1);
  }
}
.ice-bg {
  background-color: var(--ice-color-1);
}
.ice-c {
  color: var(--ice-color-1);
}
.ice-b {
  border: 1px solid var(--ice-color-1);
}
.ice-svg {
  fill: var(--ice-color-1);
}
.fighting {
  background-color: var(--fighting-color-1);
  color: var(--dark-black);
}
.fighting.active {
  background-color: var(--dark-black);
  color: var(--fighting-color-1);
  path {
    fill: var(--fighting-color-1);
  }
}
.fighting-bg {
  background-color: var(--fighting-color-1);
}
.fighting-c {
  color: var(--fighting-color-1);
}
.fighting-b {
  border: 1px solid var(--fighting-color-1);
}
.fighting-svg {
  fill: var(--fighting-color-1);
}
.poison {
  background-color: var(--poison-color-1);
  color: var(--dark-black);
}
.poison.active {
  background-color: var(--dark-black);
  color: var(--poison-color-1);
  path {
    fill: var(--poison-color-1);
  }
}
.poison-bg {
  background-color: var(--poison-color-1);
}
.poison-c {
  color: var(--poison-color-1);
}
.poison-b {
  border: 1px solid var(--poison-color-1);
}
.poison-svg {
  fill: var(--poison-color-1);
}
.ground {
  background-color: var(--ground-color-1);
  color: var(--dark-black);
}
.ground.active {
  background-color: var(--dark-black);
  color: var(--ground-color-1);
  path {
    fill: var(--ground-color-1);
  }
}
.ground-bg {
  background-color: var(--ground-color-1);
}
.ground-c {
  color: var(--ground-color-1);
}
.ground-b {
  border: 1px solid var(--ground-color-1);
}
.ground-svg {
  fill: var(--ground-color-1);
}
.flying {
  background-color: var(--flying-color-1);
  color: var(--dark-black);
}
.flying.active {
  background-color: var(--dark-black);
  color: var(--flying-color-1);
  path {
    fill: var(--flying-color-1);
  }
}
.flying-bg {
  background-color: var(--flying-color-1);
}
.flying-c {
  color: var(--flying-color-1);
}
.flying-b {
  border: 1px solid var(--flying-color-1);
}
.flying-svg {
  fill: var(--flying-color-1);
}
.psychic {
  background-color: var(--psychic-color-1);
  color: var(--dark-black);
}
.psychic.active {
  background-color: var(--dark-black);
  color: var(--psychic-color-1);
  path {
    fill: var(--psychic-color-1);
  }
}
.psychic-bg {
  background-color: var(--psychic-color-1);
}
.psychic-c {
  color: var(--psychic-color-1);
}
.psychic-b {
  border: 1px solid var(--psychic-color-1);
}
.psychic-svg {
  fill: var(--psychic-color-1);
}
.bug {
  background-color: var(--bug-color-1);
  color: var(--dark-black);
}
.bug.active {
  background-color: var(--dark-black);
  color: var(--bug-color-1);
  path {
    fill: var(--bug-color-1);
  }
}
.bug-bg {
  background-color: var(--bug-color-1);
}
.bug-c {
  color: var(--bug-color-1);
}
.bug-b {
  border: 1px solid var(--bug-color-1);
}
.bug-svg {
  fill: var(--bug-color-1);
}
.rock {
  background-color: var(--rock-color-1);
  color: var(--dark-black);
}
.rock.active {
  background-color: var(--dark-black);
  color: var(--rock-color-1);
  path {
    fill: var(--rock-color-1);
  }
}
.rock-bg {
  background-color: var(--rock-color-1);
}
.rock-c {
  color: var(--rock-color-1);
}
.rock-b {
  border: 1px solid var(--rock-color-1);
}
.rock-svg {
  fill: var(--rock-color-1);
}
.ghost {
  background-color: var(--ghost-color-1);
  color: var(--dark-black);
}
.ghost.active {
  background-color: var(--dark-black);
  color: var(--ghost-color-1);
  path {
    fill: var(--ghost-color-1);
  }
}
.ghost-bg {
  background-color: var(--ghost-color-1);
}
.ghost-c {
  color: var(--ghost-color-1);
}
.ghost-b {
  border: 1px solid var(--ghost-color-1);
}
.ghost-svg {
  fill: var(--ghost-color-1);
}
.dragon {
  background-color: var(--dragon-color-1);
  color: var(--dark-black);
}
.dragon.active {
  background-color: var(--dark-black);
  color: var(--dragon-color-1);
  path {
    fill: var(--dragon-color-1);
  }
}
.dragon-bg {
  background-color: var(--dragon-color-1);
}
.dragon-c {
  color: var(--dragon-color-1);
}
.dragon-b {
  border: 1px solid var(--dragon-color-1);
}
.dragon-svg {
  fill: var(--dragon-color-1);
}
.dark {
  background-color: var(--dark-color-1);
  color: var(--dark-black);
}
.dark.active {
  background-color: var(--dark-black);
  color: var(--dark-color-1);
  path {
    fill: var(--dark-color-1);
  }
}
.dark-bg {
  background-color: var(--dark-color-1);
}
.dark-c {
  color: var(--dark-color-1);
}
.dark-b {
  border: 1px solid var(--dark-color-1);
}
.dark-svg {
  fill: var(--dark-color-1);
}
.steel {
  background-color: var(--steelfire-color-1);
  color: var(--dark-black);
}
.steel.active {
  background-color: var(--dark-black);
  color: var(--steel-color-1);
  path {
    fill: var(--steel-color-1);
  }
}
.steel-bg {
  background-color: var(--steel-color-1);
}
.steel-c {
  color: var(--steel-color-1);
}
.steel-b {
  border: 1px solid var(--steel-color-1);
}
.steel-svg {
  fill: var(--steel-color-1);
}
.fairy {
  background-color: var(--fairy-color-1);
  color: var(--dark-black);
}
.fairy.active {
  background-color: var(--dark-black);
  color: var(--fairy-color-1);
  path {
    fill: var(--fairy-color-1);
  }
}
.fairy-bg {
  background-color: var(--fairy-color-1);
}
.fairy-c {
  color: var(--fairy-color-1);
}
.fairy-b {
  border: 1px solid var(--fairy-color-1);
}
.fairy-svg {
  fill: var(--fairy-color-1);
}
.normal {
  background-color: var(--normal-color-1);
  color: var(--dark-black);
}
.normal.active {
  background-color: var(--dark-black);
  color: var(--normal-color-1);
  path {
    fill: var(--normal-color-1);
  }
}
.normal-bg {
  background-color: var(--normal-color-1);
}
.normal-c {
  color: var(--normal-color-1);
}
.normal-b {
  border: 1px solid var(--normal-color-1);
}
.normal-svg {
  fill: var(--normal-color-1);
}
