header {
  position: sticky;
  padding: 1rem 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark-black);
  z-index: 100;
}

.shadow {
  box-shadow: 10px 0 16px rgba(0, 0, 0, 1);
}

#back {
  font-size: var(--fs-xl);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto 1rem;
}

.menu i {
  font-size: var(--fs-md);
  cursor: pointer;
}

.menu .user {
  background: var(--purple-grey);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

header .search {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header .search i {
  font-size: var(--fs-md);
  cursor: pointer;
}

.search-bar {
  flex: 1;
  position: relative;
  border: 1px solid var(--purple-grey);
  display: flex;
  align-items: center;
  margin: auto;
}

.search-bar i {
  position: absolute;
  color: var(--purple-grey);
  padding: 0.5rem;
}

input {
  height: 2.5rem;
  width: 100%;
  background: var(--dark-black);
  border: none;
  color: var(--white);
  padding-left: 2.5rem;
  font-size: var(--fs-md);
  font-family: var(--ff);
}

input:focus,
input:focus-visible {
  border: none;
}

input::placeholder {
  font-size: var(--fs-md);
  color: var(--purple-grey);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  max-height: calc(100vh - 131px);
  width: 100%;
  gap: 1rem;
  margin: 0 auto;
  padding: 0.5rem 1rem 2rem;
  overflow-y: scroll;
}

.pokemon-card {
  background: var(--dark-black);
  border-radius: 0.5rem;
  box-shadow: 3px 0px 12px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.pokemon-card .top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.pokemon-card .top span {
  font-size: var(--fs-base);
}

.pokemon-card > img {
  filter: drop-shadow(3px 2px 5px rgba(0, 0, 0, 0.5));
  max-width: 90%;
}

.pokemon-card .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

h3 {
  font-size: var(--fs-md);
  font-weight: var(--fw-semibold);
  line-height: 1;
  margin-bottom: 0.25rem;
}

.types {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.pokemon-card .type-container span {
  display: none;
}

.pokemon-card .type-container {
  border: none;
}

.type {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

svg {
  width: 0.8rem;
  height: 0.8rem;
}

svg path {
  fill: var(--dark-black);
}

.heart {
  font-size: var(--fs-base);
}

/* ===== Filters ===== */
.filters {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: var(--dark-black);
  z-index: 1001;
  color: var(--dark-black);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.filters.show {
  right: 0;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;

  button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--dark-black);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
    color: var(--white);
    font-family: var(--ff);
    font-size: var(--fs-base);
    font-weight: var(--fw-sb);
  }
}

/* ===== Accordion ===== */
.accordion {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  .accordion__item {
    color: #fff;
    background: var(--dark-black);
    cursor: pointer;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    .accordion__header {
      display: flex;
      align-items: center;
      padding: 0 1rem;
      justify-content: space-between;
      height: 4rem;
      font-size: 1.2rem;
      font-weight: bold;

      i {
        font-size: 2rem;
        font-weight: 500;
        transition: transform 0.3s ease;
      }
    }

    .accordion__content {
      height: 0;
      padding: 0 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
      transition: height 0.2s ease-in-out, margin 0.2s;
    }
  }
}

.open i {
  transform: rotate(180deg);
}

.open .accordion__content {
  margin: 1rem 0;
}

.accordion__content {
  .type-container {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem 0.2rem 0.2rem;
    border-radius: 1rem;
    transition: all 0.5s;

    .type {
      transition: all 0.5s;
    }

    span {
      font-weight: var(--fw-sb);
      font-size: var(--fs-base);
      padding: 0.25rem 0.25rem;
      flex: 1;
      line-height: 78%;
      text-align: center;
      transition: all 0.5s;
    }
  }
}

.disable {
  border-color: var(--purple-grey);

  .type {
    background: var(--purple-grey);
  }

  span {
    color: var(--purple-grey);
  }
}

.accordion__content {
  .card {
    border: 2px solid var(--purple-grey);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.5s;

    .pokemons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 33.3%;
      }
    }

    p {
      text-align: center;
      margin-top: 0.5rem;
      font-size: var(--fs-md);
      font-weight: var(--fw-sb);
    }
  }
}

.card.active {
  border-color: #fff;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.7);
}

/* ===== Modal ===== */
.modal {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: var(--dark-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: right 0.3s;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem 0;
    color: var(--grass-color-1);

    i {
      font-size: var(--fs-lg);
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #back {
      font-size: calc(var(--fs-lg) + 0.5rem);
    }

    .variants {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;

      i {
        color: var(--dark-black);
        font-size: var(--fs-md);
      }

      img {
        width: 32px;
        height: 32px;
        padding: 0.5rem;
      }
    }
  }

  .middle {
    margin-top: 5vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    transition: all 1s;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 1s;

      h3 {
        font-size: var(--fs-xl);
        font-weight: var(--fw-b);
        margin: 1rem;
        transition: all 1s;
      }

      .types {
        margin-bottom: 1rem;
        transition: all 1s;

        .type-container {
          display: flex;
          align-items: center;
          padding: 0.2rem 0.5rem 0.2rem 0.2rem;
          border-radius: 1rem;
          transition: all 1s;

          .type {
            transition: all 1s;

            svg {
              transition: all 1s;
            }
          }

          span {
            font-weight: var(--fw-sb);
            font-size: var(--fs-base);
            padding: 0.25rem 0.25rem;
            line-height: 78%;
            transition: all 1s;
          }
        }
      }

      span {
        font-size: var(--fs-md);
        font-weight: var(--fw-r);
        transition: all 1s;
      }
    }

    .pokemon {
      position: relative;
      padding: 0 2rem;
      transition: all 1s;

      img:first-of-type {
        margin: auto;
        width: 100%;
        transition: all 1s;
      }

      svg {
        position: absolute;
        width: 3rem;
        height: 3rem;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: all 1s;
      }
    }
  }

  .info {
    height: 0;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    transition: all 1s 0s;
    margin-top: 1rem;
  }

  .more {
    position: absolute;
    bottom: 4.5rem;
    z-index: 100001;
    width: min-content;
    transition: all 1s 0.9s;

    i {
      font-size: var(--fs-lg);
      transition: color 0.5s 1.2s;
    }
  }
}

.modal.info {
  .middle {
    margin-top: 0;
    transition: all 1s;
    .header {
      h3 {
        margin: 0 0 0.5rem;
        font-size: var(--fs-md);
      }
      .types {
        margin-bottom: 0.2rem;
        .type-container {
          padding: 0.1rem 0.3rem 0.1rem 0.1rem;
          .type {
            width: 1rem;
            height: 1rem;
            svg {
              width: 0.7rem;
              height: 0.7rem;
            }
          }
          span {
            font-size: var(--fs-sm);
            line-height: 73%;
          }
        }
      }
      span {
        font-size: var(--fs-base);
      }
    }
    .pokemon {
      img:first-of-type {
        width: 50%;
      }

      svg {
        right: 3rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .info {
    height: 2000px;
    display: block;
    transition: all 1.5s 0.3s;
  }

  .more {
    transform: rotate(225deg);
    bottom: 1rem;
    transition: all 1s;

    i {
      color: var(--white);
      transition: color 0.5s 0s;
    }
  }
}

.modal.show {
  right: 0;
}
