/* ===== Header ===== */
header {
  position: sticky;
  padding: 1rem 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark-black);
  z-index: 100;
  transition: 0.5s;
}

header i {
  font-size: var(--fs-md);
  cursor: pointer;
}

header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto 1rem;
}

header .menu .user {
  background: var(--purple-grey);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

header .menu h1 {
  font-size: var(--fs-xl);
}

header .search {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header .search .search-bar {
  flex: 1;
  position: relative;
  border: 1px solid var(--purple-grey);
  display: flex;
  align-items: center;
  margin: auto;
}

header .search .search-bar input {
  height: 2.5rem;
  width: 100%;
  background: var(--dark-black);
  border: none;
  color: var(--white);
  padding: 0 2.5rem 0 0.5rem;
  font-size: var(--fs-md);
  font-family: var(--ff);
}

header .search .search-bar input:focus,
header .search .search-bar input:focus-visible {
  border: none;
}

header .search .search-bar input::placeholder {
  font-size: var(--fs-md);
  color: var(--purple-grey);
}

header .search .search-bar i {
  position: absolute;
  right: 0;
  color: var(--purple-grey);
  padding: 0.5rem;
  cursor: auto;
}

/* ===== Main ===== */
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  max-height: calc(100vh - 131px);
  width: 100%;
  gap: 1rem;
  padding: 0.5rem 5% 2rem 5%;
  overflow-y: scroll;
  transition: 0.5s;
}

main .pokemon-card {
  background: var(--dark-black);
  border-radius: 0.5rem;
  box-shadow: 3px 0px 12px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

main .pokemon-card .top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

main .pokemon-card .top span {
  font-size: var(--fs-base);
}

main .pokemon-card img {
  filter: drop-shadow(3px 2px 5px rgba(0, 0, 0, 0.5));
  max-width: 90%;
}

main .pokemon-card .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

main .pokemon-card .bottom h3 {
  font-size: var(--fs-md);
  font-weight: var(--fw-semibold);
  line-height: 1;
  margin-bottom: 0.25rem;
}

main .pokemon-card .bottom .types {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

main .pokemon-card .bottom .types .type-container {
  border: none;
}

main .pokemon-card .bottom .types .type-container .type {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

main .pokemon-card .bottom .types .type-container .type svg {
  width: 0.8rem;
  height: 0.8rem;
}

main .pokemon-card .bottom .types .type-container .type svg path {
  fill: var(--dark-black);
}

main .pokemon-card .bottom .types .type-container span {
  display: none;
}

/* ===== Filters ===== */
.filters {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: var(--dark-black);
  z-index: 1001;
  color: var(--dark-black);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.filters .accordion {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.filters .accordion .accordion__item {
  color: #fff;
  background: var(--dark-black);
  cursor: pointer;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.filters .accordion .accordion__item .accordion__header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.filters .accordion .accordion__item .accordion__header i {
  font-size: 2rem;
  font-weight: 500;
  transition: transform 0.3s ease;
}

.filters .accordion .accordion__item .accordion__content {
  height: 0;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.5rem;
  transition: height 0.2s ease-in-out, margin 0.2s;
}

.filters .accordion .accordion__item .accordion__content .card {
  border: 2px solid var(--purple-grey);
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.5s;
}

.filters .accordion .accordion__item .accordion__content .card .pokemons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters .accordion .accordion__item .accordion__content .card .pokemons img {
  width: 33.3%;
}

.filters .accordion .accordion__item .accordion__content .card p {
  text-align: center;
  margin-top: 0.5rem;
  font-size: var(--fs-md);
  font-weight: var(--fw-sb);
}

.filters .accordion .accordion__item .accordion__content .card.active {
  border-color: #fff;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.7);
}

.filters .accordion .accordion__item .accordion__content .type-container {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem 0.2rem 0.2rem;
  border-radius: 1rem;
  transition: all 0.5s;
}

.filters .accordion .accordion__item .accordion__content .type-container .type {
  transition: all 0.5s;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.filters
  .accordion
  .accordion__item
  .accordion__content
  .type-container
  .type
  svg {
  width: 0.8rem;
  height: 0.8rem;
}

.filters
  .accordion
  .accordion__item
  .accordion__content
  .type-container
  .type
  svg
  path {
  fill: var(--dark-black);
}

.filters .accordion .accordion__item .accordion__content .type-container span {
  font-weight: var(--fw-sb);
  font-size: var(--fs-base);
  padding: 0.25rem 0.25rem;
  flex: 1;
  line-height: 78%;
  text-align: center;
  transition: all 0.5s;
}

.filters .buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.filters .buttons button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--dark-black);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
  color: var(--white);
  font-family: var(--ff);
  font-size: var(--fs-base);
  font-weight: var(--fw-sb);
  cursor: pointer;
}

/* ===== Modal ===== */
.modal .container {
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: var(--dark-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: right 0.3s;
  overflow: hidden;
}

.modal .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem 0;
  color: var(--grass-color-1);
}

.modal .top i {
  font-size: var(--fs-lg);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .top #back {
  font-size: calc(var(--fs-lg) + 0.5rem);
  cursor: pointer;
}

.modal .top .variants {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  color: var(--dark-black);
  font-weight: var(--fw-b);
  overflow: hidden;
  cursor: pointer;
}

.modal .top .variants i {
  font-size: var(--fs-md);
}

.modal .top .variants div,
.modal .top .variants svg {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  user-select: none;
  fill: var(--dark-black);
}

.modal .top .variants svg {
  padding: 0.2rem;
}

.modal .top .variants .y {
  transform: rotateX(-180deg);
}

.modal .middle {
  margin-top: 5vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  transition: all 1s;
}

.modal .middle .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s;
}

.modal .middle .header h3 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-b);
  margin: 1rem;
  transition: all 1s;
}

.modal .middle .header .types {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  transition: all 1s;
}

.modal .middle .header .types .type-container {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem 0.2rem 0.2rem;
  border-radius: 1rem;
  transition: all 1s;
}

.modal .middle .header .types .type-container .type {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 1s;
}

.modal .middle .header .types .type-container .type svg {
  width: 0.8rem;
  height: 0.8rem;
  transition: all 1s;
}

.modal .middle .header .types .type-container .type svg path {
  fill: var(--dark-black);
}

.modal .middle .header .types .type-container span {
  font-weight: var(--fw-sb);
  font-size: var(--fs-base);
  padding: 0.25rem 0.25rem;
  line-height: 78%;
  transition: all 1s;
}

.modal .middle .header span {
  font-size: var(--fs-md);
  font-weight: var(--fw-r);
  transition: all 1s;
}

.modal .middle .pokemon {
  position: relative;
  padding: 0 2rem;
  transition: all 1s;
}

.modal .middle .pokemon img:first-of-type {
  margin: auto;
  width: 202px;
  transition: all 1s;
}

.modal .middle .pokemon svg {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all 1s;
  cursor: pointer;
}

.modal .middle .pokemon svg path:nth-of-type(2) {
  fill: var(--dark-black);
}

.modal .info {
  height: 0;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  transition: all 1s 0s;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
}

.modal .info .tab__box {
  position: sticky;
  left: -2rem;
  top: 0;
  padding: 1rem 1rem 0.3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.modal .info .tab__box .tab__btn {
  font-size: var(--fs-base);
  font-weight: var(--fw-b);
  cursor: pointer;
  color: var(--dark-black);
}

.modal .info .tab__box .tab__btn.active {
  color: var(--white);
}

.modal .info .tab__box .line {
  position: absolute;
  bottom: 0;
  width: 49px;
  height: 0.2rem;
  background-color: var(--white);
  border-radius: 3rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.modal .info .content__box {
  padding: 0.5rem 1rem 3rem;
  color: var(--dark-black);
}

.modal .info .content__box .content {
  display: none;
  text-align: center;
}

.modal .info .content__box .content > div {
  margin: 1rem 0;
}

.modal .info .content__box .content h4 {
  font-size: var(--fs-md);
  color: var(--dark-black);
  border-bottom: 2px solid var(--dark-black);
  margin-top: 1rem;
}

.modal .info .content__box .content p {
  font-weight: var(--fw-sb);
}

.modal .info .content__box .content.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 1rem;
}

.modal .info .content__box #details .caracteristics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal .info .content__box #details .caracteristics .h-w {
  display: flex;
  justify-content: space-evenly;
}

.modal .info .content__box #details .caracteristics .h-w span {
  font-weight: var(--fw-b);
}

.modal .info .content__box #details .caracteristics h6 {
  font-size: var(--fs-base);
}

.modal .info .content__box #details .caracteristics .gender-container {
  width: 100%;
}

.modal
  .info
  .content__box
  #details
  .caracteristics
  .gender-container
  .gender_ratio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: var(--fs-sm);
  font-weight: var(--fw-b);
}

.modal
  .info
  .content__box
  #details
  .caracteristics
  .gender-container
  .gender_ratio
  .bar {
  position: relative;
  background-color: dodgerblue;
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  border: 3px solid var(--dark-black);
}

.modal
  .info
  .content__box
  #details
  .caracteristics
  .gender-container
  .gender_ratio
  .bar
  div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: hotpink;
}

.modal .info .content__box #details .abilities {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal .info .content__box #details .abilities p::first-letter {
  text-transform: capitalize;
}

.modal .info .content__box #details #pokemonChart {
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal .info .content__box #details #pokemonChart .pokemon img {
  width: 100%;
}

.modal .info .content__box #details #pokemonChart .pokemon p:first-of-type {
  font-weight: var(--fw-b);
  font-size: 14px;
}

.modal .info .content__box #details #pokemonChart .pokemon p {
  font-size: 12px;
}

.modal .info .content__box #details #pokemonChart .flecha {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .info .content__box #details #pokemonChart .types {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.modal .info .content__box #details #pokemonChart .types .type-container {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .info .content__box #details #pokemonChart .types .type-container .type {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--dark-black);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types
  .type-container
  .type
  svg {
  width: 0.625rem;
  height: 0.625rem;
}

.modal .info .content__box #details #pokemonChart .types .type-container span {
  display: none;
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.fire
  .type-container
  .type
  path {
  fill: var(--fire-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.water
  .type-container
  .type
  path {
  fill: var(--water-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.grass
  .type-container
  .type
  path {
  fill: var(--grass-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.electric
  .type-container
  .type
  path {
  fill: var(--electric-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.ice
  .type-container
  .type
  path {
  fill: var(--ice-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.fighting
  .type-container
  .type
  path {
  fill: var(--fighting-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.poison
  .type-container
  .type
  path {
  fill: var(--poison-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.ground
  .type-container
  .type
  path {
  fill: var(--ground-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.flying
  .type-container
  .type
  path {
  fill: var(--flying-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.psychic
  .type-container
  .type
  path {
  fill: var(--psychic-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.bug
  .type-container
  .type
  path {
  fill: var(--bug-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.rock
  .type-container
  .type
  path {
  fill: var(--rock-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.ghost
  .type-container
  .type
  path {
  fill: var(--ghost-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.dragon
  .type-container
  .type
  path {
  fill: var(--dragon-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.dark
  .type-container
  .type
  path {
  fill: var(--dark-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.steel
  .type-container
  .type
  path {
  fill: var(--steel-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.fairy
  .type-container
  .type
  path {
  fill: var(--fairy-color);
}

.modal
  .info
  .content__box
  #details
  #pokemonChart
  .types.normal
  .type-container
  .type
  path {
  fill: var(--normal-color);
}

.modal .info .content__box #stats {
  width: 100%;
}

.modal .info .content__box #stats .stats {
  width: 100%;
}

.modal .info .content__box #stats .stats li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.modal .info .content__box #stats .stats li h5 {
  text-align: left;
  line-height: 100%;
  min-width: 84px;
  font-size: var(--fs-base);
}

.modal .info .content__box #stats .stats li .bar {
  background-color: var(--dark-black);
  border-radius: 1rem;
  display: block;
  height: 0.5rem;
  flex: 1;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.modal .info .content__box #stats .stats li .bar span {
  height: 100%;
  float: left;
  background-color: var(--white);
  width: 50%;
  border-radius: 0.2rem;
}

.modal .info .content__box #stats .stats li p {
  font-weight: var(--fw-b);
  line-height: 100%;
  min-width: 27px;
  text-align: right;
}

.modal .info .content__box #stats h4 {
  text-transform: uppercase;
  font-weight: var(--fw-b);
}

.modal .info .content__box #stats h4:first-of-type {
  text-transform: initial;
}

.modal .info .content__box #stats .types-fd {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal .info .content__box #stats .types-fd .type-fd {
  padding: 0 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--dark-black);
}

.modal .info .content__box #stats .types-fd .type-fd strong {
  display: block;
  margin: 0.5rem 0;
}

.modal .info .content__box #stats .types-fd .type-fd .typeFd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.modal .info .content__box #stats .types-fd .type-fd .typeFd .type-container {
  min-width: calc((100% - 0.7rem) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.6rem 0.2rem 0.2rem;
  gap: 0.2rem;
  background-color: var(--dark-black);
  color: var(--white);
  border-radius: 3rem;
  border: none;
}

.modal
  .info
  .content__box
  #stats
  .types-fd
  .type-fd
  .typeFd
  .type-container
  .type {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.modal
  .info
  .content__box
  #stats
  .types-fd
  .type-fd
  .typeFd
  .type-container
  .type
  svg {
  width: 0.875rem;
  height: 0.875rem;
}

.modal
  .info
  .content__box
  #stats
  .types-fd
  .type-fd
  .typeFd
  .type-container
  .type
  svg
  path {
  fill: var(--dark-black);
}

.modal
  .info
  .content__box
  #stats
  .types-fd
  .type-fd
  .typeFd
  .type-container
  span {
  flex: 1;
}

.modal .info .content__box #moves table {
  border-collapse: collapse;
  width: 100%;
}

.modal .info .content__box #moves table tr th,
.modal .info .content__box #moves table tr td {
  padding: 0.5rem 0;
  border: 1px solid var(--dark-black);
  border-left: none;
  border-right: none;
}

.modal .info .content__box #moves table tr th {
  border-top: none;
  font-weight: var(--fw-b);
}

.modal .info .content__box #moves table tr td:first-of-type {
  text-align: left;
  font-weight: var(--fw-b);
}

.modal .indicator-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3.5rem;
  bottom: 0;
  width: 2.5rem;
  border-radius: 2rem 2rem 0 0;
  z-index: -1;
  transition: all 1.5s 0.3s;
}

.modal .more {
  position: absolute;
  bottom: 4.5rem;
  z-index: 10000;
  width: min-content;
  transition: all 1s 0.9s;
  cursor: pointer;
}

.modal .more i {
  font-size: var(--fs-lg);
  border-radius: 50%;
  transition: color 0.5s 1.2s, background 0.5s 1s;
}

.modal.show {
  right: 0;
}

.modal.info .middle {
  margin-top: 0;
  transition: all 1s;
}

.modal.info .middle .header h3 {
  margin: 0 0 0.5rem;
  font-size: var(--fs-md);
}

.modal.info .middle .header .types {
  margin-bottom: 0.2rem;
}

.modal.info .middle .header .types .type-container {
  padding: 0.1rem 0.3rem 0.1rem 0.1rem;
}

.modal.info .middle .header .types .type-container .type {
  width: 1rem;
  height: 1rem;
}

.modal.info .middle .header .types .type-container .type svg {
  width: 0.7rem;
  height: 0.7rem;
}

.modal.info .middle .header .types .type-container span {
  font-size: var(--fs-sm);
  line-height: 73%;
}

.modal.info .middle .header span {
  font-size: var(--fs-base);
}

.modal.info .middle .pokemon img:first-of-type {
  width: 112px;
}

.modal.info .middle .pokemon svg {
  width: 2rem;
  height: 2rem;
}

.modal.info .info {
  height: 2000px;
  display: block;
  transition: all 1.5s 0.3s;
  overflow-y: scroll;
}

.modal.info .info::-webkit-scrollbar {
  display: none;
}

.modal.info .indicator-label {
  bottom: -100%;
  transition-delay: 0s;
}

.modal.info .more {
  transform: rotate(225deg);
  bottom: 1rem;
  transition: all 1s;
  z-index: 10000;
}

.modal.info .more i {
  color: var(--white);
  transition: color 0.5s 0s, background 1s;
  background: var(--dark-black);
}

.mySwiper {
  position: absolute;
  bottom: 0;
  z-index: 2000;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  height: 3.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: all 1.5s, opacity 0.1s;
}

.mySwiper .swiper-wrapper {
  display: flex;
}

.mySwiper .swiper-wrapper .swiper-slide {
  width: 2.5rem !important;
  height: 2.5rem;
}

.mySwiper .swiper-wrapper .swiper-slide img {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.modal.show + .mySwiper {
  opacity: 1;
  pointer-events: initial;
  transition: all 1.5s 0.3s, opacity 0.2s 0.2s;
}

.wrapper {
  user-select: none;
  opacity: 0;
  bottom: -100%;
}

.modal.info + .mySwiper {
  bottom: -100%;
  transition-delay: 0s;
}

.shadow {
  box-shadow: 10px 0 16px rgba(0, 0, 0, 1);
}

.filters.show {
  left: 0;
}

.open i {
  transform: rotate(180deg);
}

.open .accordion__content {
  margin: 1rem 0;
}

.disable {
  border-color: var(--purple-grey);
}

.disable .type {
  background: var(--purple-grey);
}

.disable span {
  color: var(--purple-grey);
}

@media (min-width: 460px) {
  main {
    padding-right: calc(5% - 1rem);
  }
  main::-webkit-scrollbar {
    background: var(--purple-grey);
    padding: 0.5rem;
    width: 1rem;
  }

  main::-webkit-scrollbar-thumb {
    height: 2rem;
    border: 2px solid var(--purple-grey);
    background: var(--white);
    cursor: pointer;
  }
}

@media (min-width: 620px) {
  .filters.show ~ header,
  .filters.show ~ main {
    width: calc(100% - 320px);
    transition: 0.5s;
  }
  .filters {
    max-width: 320px;
  }
  .filters.show {
    left: 100%;
    transform: translateX(-100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  }
  .content__box {
    max-width: 620px;
    margin: auto;
  }
  .bar {
    max-width: 300px;
  }
  .types-fd {
    width: 100%;
  }
  .type-fd {
    width: 100%;
  }
  .typeFd {
    max-width: 400px;
    margin: auto;
  }
  .gender_ratio .bar {
    max-width: 200px;
  }
}

@media (min-width: 920px) {
  .modal {
    flex-direction: row;
  }

  .modal .container {
    height: 100%;
  }

  .modal .container .middle {
    margin: 0;
    justify-content: center;
  }

  .modal .container .middle .pokemon img:first-of-type {
    width: 202px;
  }

  .modal .container .middle .pokemon svg {
    width: 3rem;
    height: 3rem;
    right: -1rem;
  }

  .modal .container .middle .header h3 {
    margin: 1rem;
    font-size: var(--fs-xl);
  }
  .modal .container .middle .header .types {
    margin-bottom: 1rem;
  }

  .modal .container .middle .header .types .type-container {
    padding: 0.2rem 0.5rem 0.2rem 0.2rem;
  }

  .modal .container .middle .header .types .type-container .type {
    width: 1.2rem;
    height: 1.2rem;
  }

  .modal .container .middle .header .types .type-container .type svg {
    width: 0.8rem;
    height: 0.8rem;
  }

  .modal .container .middle .header .types .type-container span {
    font-size: var(--fs-base);
    line-height: 78%;
  }

  .modal .container .middle .header span {
    font-size: var(--fs-base);
  }

  .modal .info {
    margin: 0;
    width: 0;
    height: 100%;
    border-radius: 0;
  }

  .modal .info * {
    opacity: 0;
    transition: 0.5s;
  }

  .modal .more {
    left: 50%;
    transform: translateX(-50%);
  }

  .modal.info .container .middle .pokemon svg {
    width: 3rem;
    height: 3rem;
    right: -1rem;
  }

  .modal.info .info {
    width: 100%;
    height: 100%;
  }

  .modal.info .info * {
    opacity: 1;
    transition: opacity 0.5s 0.5s;
  }

  .modal.info .more {
    transform: translateX(-50%) rotate(225deg);
  }
}
