/* ===== Header ===== */
header {
  position: sticky;
  padding: 1rem 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark-black);
  z-index: 100;
  transition: 0.5s;
}

header i {
  font-size: var(--fs-md);
  cursor: pointer;
}

header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto 1rem;
}

header .menu .user {
  background: var(--purple-grey);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

header .menu h1 {
  font-size: var(--fs-xl);
}

header .search {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header .search .search-bar {
  flex: 1;
  position: relative;
  border: 1px solid var(--purple-grey);
  display: flex;
  align-items: center;
  margin: auto;
}

header .search .search-bar input {
  height: 2.5rem;
  width: 100%;
  background: var(--dark-black);
  border: none;
  color: var(--white);
  padding: 0 2.5rem 0 0.5rem;
  font-size: var(--fs-md);
  font-family: var(--ff);
}

header .search .search-bar input:focus,
header .search .search-bar input:focus-visible {
  border: none;
}

header .search .search-bar input::placeholder {
  font-size: var(--fs-md);
  color: var(--purple-grey);
}

header .search .search-bar i {
  position: absolute;
  right: 0;
  color: var(--purple-grey);
  padding: 0.5rem;
  cursor: auto;
}

/* ===== Main ===== */
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  max-height: calc(100vh - 131px);
  width: 100%;
  gap: 1rem;
  padding: 0.5rem 5% 2rem 5%;
  overflow-y: scroll;
  transition: 0.5s;
}

main .pokemon-card {
  background: var(--dark-black);
  border-radius: 0.5rem;
  box-shadow: 3px 0px 12px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

main .pokemon-card .top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

main .pokemon-card .top span {
  font-size: var(--fs-base);
}

main .pokemon-card img {
  filter: drop-shadow(3px 2px 5px rgba(0, 0, 0, 0.5));
  max-width: 90%;
}

main .pokemon-card .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

main .pokemon-card .bottom h3 {
  font-size: var(--fs-md);
  font-weight: var(--fw-semibold);
  line-height: 1;
  margin-bottom: 0.25rem;
}

main .pokemon-card .bottom .types {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

main .pokemon-card .bottom .types .type-container {
  border: none;
}

main .pokemon-card .bottom .types .type-container .type {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

main .pokemon-card .bottom .types .type-container .type svg {
  width: 0.8rem;
  height: 0.8rem;
}

main .pokemon-card .bottom .types .type-container .type svg path {
  fill: var(--dark-black);
}

main .pokemon-card .bottom .types .type-container span {
  display: none;
}
/* ===== Filters ===== */
.filters {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: var(--dark-black);
  z-index: 1001;
  color: var(--dark-black);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.filters .accordion {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.filters .accordion .accordion__item {
  color: #fff;
  background: var(--dark-black);
  cursor: pointer;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.filters .accordion .accordion__item .accordion__header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.filters .accordion .accordion__item .accordion__header i {
  font-size: 2rem;
  font-weight: 500;
  transition: transform 0.3s ease;
}

.filters .accordion .accordion__item .accordion__content {
  height: 0;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.5rem;
  transition: height 0.2s ease-in-out, margin 0.2s;
}

.filters .accordion .accordion__item .accordion__content .card {
  border: 2px solid var(--purple-grey);
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.5s;
}

.filters .accordion .accordion__item .accordion__content .card .pokemons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters .accordion .accordion__item .accordion__content .card .pokemons img {
  width: 33.3%;
}

.filters .accordion .accordion__item .accordion__content p {
  text-align: center;
  margin-top: 0.5rem;
  font-size: var(--fs-md);
  font-weight: var(--fw-sb);
}

.filters .accordion .accordion__item .accordion__content .card.active {
  border-color: #fff;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.7);
}

.filters .accordion .accordion__item .accordion__content .type-container {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem 0.2rem 0.2rem;
  border-radius: 1rem;
  transition: all 0.5s;
}

.filters .accordion .accordion__item .accordion__content .type-container .type {
  transition: all 0.5s;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.filters
  .accordion
  .accordion__item
  .accordion__content
  .type-container
  .type
  svg {
  width: 0.8rem;
  height: 0.8rem;
}

.filters
  .accordion
  .accordion__item
  .accordion__content
  .type-container
  .type
  svg
  path {
  fill: var(--dark-black);
}

.filters .accordion .accordion__item .accordion__content .type-container span {
  font-weight: var(--fw-sb);
  font-size: var(--fs-base);
  padding: 0.25rem 0.25rem;
  flex: 1;
  line-height: 78%;
  text-align: center;
  transition: all 0.5s;
}

.filters .buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.filters .buttons button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--dark-black);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
  color: var(--white);
  font-family: var(--ff);
  font-size: var(--fs-base);
  font-weight: var(--fw-sb);
}

/* ===== Modal ===== */
.modal {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: var(--dark-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: right 0.3s;
  overflow: hidden;
}

.modal .container {
  width: 100%;
}

.modal .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem 0;
  color: var(--grass-color-1);
}

.modal .top i {
  font-size: var(--fs-lg);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .top #back {
  font-size: calc(var(--fs-lg) + 0.5rem);
}

.modal .top .variants {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  color: var(--dark-black);
  font-weight: var(--fw-b);
  overflow: hidden;
}

.modal .top .variants i {
  font-size: var(--fs-md);
}

.modal .top .variants div,
.modal .top .variants svg {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  user-select: none;
  fill: var(--dark-black);
}

.modal .top .variants svg {
  padding: 0.2rem;
}

.modal .top .variants .y {
  transform: rotateX(-180deg);
}

.modal .middle {
  margin-top: 5vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  transition: all 1s;
}

.modal .middle .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s;
}

.modal .middle .header h3 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-b);
  margin: 1rem;
  transition: all 1s;
}

.modal .middle .header .types {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  transition: all 1s;
}

.modal .middle .header .types .type-container {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem 0.2rem 0.2rem;
  border-radius: 1rem;
  transition: all 1s;
}

.modal .middle .header .types .type-container .type {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 1s;
}

.modal .middle .header .types .type-container .type svg {
  width: 0.8rem;
  height: 0.8rem;
  transition: all 1s;
}

.modal .middle .header .types .type-container .type svg path {
  fill: var(--dark-black);
}

.modal .middle .header .types .type-container span {
  font-weight: var(--fw-sb);
  font-size: var(--fs-base);
  padding: 0.25rem 0.25rem;
  line-height: 78%;
  transition: all 1s;
}

.modal .middle span {
  font-size: var(--fs-md);
  font-weight: var(--fw-r);
  transition: all 1s;
}

.modal .middle .pokemon {
  position: relative;
  padding: 0 2rem;
  transition: all 1s;
}

.modal .middle .pokemon img:first-of-type {
  margin: auto;
  width: 202px;
  transition: all 1s;
}

.modal .middle .pokemon svg {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all 1s;
  cursor: pointer;
}

.modal .middle .pokemon svg path:nth-of-type(2) {
  fill: var(--dark-black);
}

.modal .info {
  height: 100%;
  overflow: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal .info span {
  font-size: var(--fs-md);
  font-weight: var(--fw-r);
  padding: 0 1rem;
}

.modal .info div {
  margin: 0.5rem 0;
}

.modal .info .info__container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.modal .info .info__container span {
  font-size: var(--fs-md);
  font-weight: var(--fw-r);
  text-transform: capitalize;
  margin-right: 0.5rem;
}

.modal .info .info__container .description {
  flex: 1;
}

.modal .info .info__container .description p {
  margin: 0.5rem 0;
}

.modal .info .info__container .description span {
  margin: 0.5rem 0;
}

.modal .bottom {
  margin-bottom: 2rem;
}

.modal .bottom .abilities {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.modal .bottom .abilities .ability {
  border: 2px solid var(--dark-black);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: var(--fs-md);
  font-weight: var(--fw-sb);
}

.modal .bottom .abilities .ability span {
  margin-left: 0.5rem;
}

.modal.show {
  right: 0;
}

.modal.info .middle {
  margin-top: 0;
  transition: all 1s;
}

.modal.info .middle .header h3 {
  margin: 0 0 0.5rem;
  font-size: var(--fs-md);
}

.modal.info .middle .header .types {
  margin-bottom: 0.2rem;
}

.modal.info .middle .header .types .type-container {
  padding: 0.1rem 0.3rem 0.1rem 0.1rem;
}

.modal.info .middle .header .types .type-container .type {
  width: 1rem;
  height: 1rem;
}

.modal.info .middle .header .types .type-container .type svg {
  width: 0.7rem;
  height: 0.7rem;
}

.modal.info .middle .header .types .type-container span {
  font-size: var(--fs-sm);
  line-height: 73%;
}

.modal.info .middle .header span {
  font-size: var(--fs-base);
}

.modal.info .middle .pokemon img:first-of-type {
  width: 112px;
}

.modal.info .middle .pokemon svg {
  width: 2rem;
  height: 2rem;
}

.modal.info .info {
  height: 2000px;
  display: block;
  transition: all 1.5s 0.3s;
  overflow-y: scroll;
}

.modal.info .info::-webkit-scrollbar {
  display: none;
}

.modal.info .indicator-label {
  bottom: -100%;
  transition-delay: 0s;
}

.modal.info .more {
  transform: rotate(225deg);
  bottom: 1rem;
  transition: all 1s;
  z-index: 10000;
}

.modal.info .more i {
  color: var(--white);
  transition: color 0.5s 0s, background 1s;
  background: var(--dark-black);
}

.mySwiper {
  position: absolute;
  bottom: 0;
  z-index: 2000;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  height: 3.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: all 1.5s, opacity 0.1s;
}

.mySwiper .swiper-wrapper {
  display: flex;
}

.mySwiper .swiper-wrapper .swiper-slide {
  width: 2.5rem !important;
  height: 2.5rem;
}

.mySwiper .swiper-wrapper .swiper-slide img {
  width: 2.5rem;
  height: 2.5rem;
}

.modal.show + .mySwiper {
  opacity: 1;
  pointer-events: initial;
  transition: all 1.5s 0.3s, opacity 0.2s 0.2s;
}

.wrapper {
  user-select: none;
  opacity: 0;
  bottom: -100%;
}

.modal.info + .mySwiper {
  bottom: -100%;
  transition-delay: 0s;
}

.shadow {
  box-shadow: 10px 0 16px rgba(0, 0, 0, 1);
}

.filters.show {
  left: 0;
}

.open i {
  transform: rotate(180deg);
}

.open .accordion__content {
  margin: 1rem 0;
}

.disable {
  border-color: var(--purple-grey);
}

.disable .type {
  background: var(--purple-grey);
}

.disable span {
  color: var(--purple-grey);
}

@media (min-width: 460px) {
  main {
    padding-right: calc(5% - 1rem);
  }
  main::-webkit-scrollbar {
    background: var(--purple-grey);
    padding: 0.5rem;
    width: 1rem;
  }

  main::-webkit-scrollbar-thumb {
    height: 2rem;
    border: 2px solid var(--purple-grey);
    background: var(--white);
    cursor: pointer;
  }
}

@media (min-width: 620px) {
  .filters.show ~ header,
  .filters.show ~ main {
    width: calc(100% - 320px);
    transition: 0.5s;
  }
  .filters {
    max-width: 320px;
  }
  .filters.show {
    left: 100%;
    transform: translateX(-100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  }
  .content__box {
    max-width: 620px;
    margin: auto;
  }
  .bar {
    max-width: 300px;
  }
  .types-fd {
    width: 100%;
  }
  .type-fd {
    width: 100%;
  }
  .typeFd {
    max-width: 400px;
    margin: auto;
  }
  .gender_ratio .bar {
    max-width: 200px;
  }
}

@media (min-width: 920px) {
  .modal {
    flex-direction: row;
  }

  .modal .container {
    height: 100%;
  }

  .modal .container .middle {
    margin: 0;
    justify-content: center;
  }

  .modal .container .middle .pokemon img:first-of-type {
    width: 202px;
  }

  .modal .container .middle .pokemon svg {
    width: 3rem;
    height: 3rem;
    right: -1rem;
  }

  .modal .container .middle .header h3 {
    margin: 1rem;
    font-size: var(--fs-xl);
  }

  .modal .container .middle .header .types {
    margin-bottom: 1rem;
  }

  .modal .container .middle .header .types .type-container {
    padding: 0.2rem 0.5rem 0.2rem 0.2rem;
  }

  .modal .container .middle .header .types .type-container .type {
    width: 1.2rem;
    height: 1.2rem;
  }

  .modal .container .middle .header .types .type-container .type svg {
    width: 0.8rem;
    height: 0.8rem;
  }

  .modal .container .middle .header .types .type-container span {
    font-size: var(--fs-base);
    line-height: 78%;
  }

  .modal .container .middle .header span {
    font-size: var(--fs-base);
  }

  .modal .info {
    margin: 0;
    width: 0;
    height: 100%;
    border-radius: 0;
  }

  .modal .info * {
    opacity: 0;
    transition: 0.5s;
  }

  .modal .more {
    left: 50%;
    transform: translateX(-50%);
  }

  .modal.info .container .middle .pokemon svg {
    width: 3rem;
    height: 3rem;
    right: -1rem;
  }

  .modal.info .info {
    width: 100%;
    height: 100%;
  }

  .modal.info .info * {
    opacity: 1;
    transition: opacity 0.5s 0.5s;
  }

  .modal.info .more {
    transform: translateX(-50%) rotate(225deg);
  }
}
